/* styles/productList.css */
.product-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  grid-gap: 20px;
  width: 75%;
}

.product-item {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  transition: box-shadow 0.3s ease;
}

.product-item img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.product-item h2 {
  font-size: 1rem;
  margin: 10px 0;
}

.product-item p {
  font-size: 1rem;
}

.product-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}


@media screen and (max-width: 599px) {
  .product-list {
    grid-template-columns: repeat(2, minmax(150px, 1fr));
  }
}

@media screen and (max-width: 368px) {
  .product-list {
    grid-template-columns: 1fr;
    ;
  }
}